/_Dev_gitignore
/_Dev_gitignore.meta

/ImmersalSDK/Core/*

!/ImmersalSDK/Core/ImmersalSDK.Core.asmdef
!/ImmersalSDK/Core/ImmersalSDK.Core.asmdef.meta

!/ImmersalSDK/Core/Scripts
!/ImmersalSDK/Core/Scripts.meta

/ImmersalSDK/Core/Scripts/*

!/ImmersalSDK/Core/Scripts/Editor
!/ImmersalSDK/Core/Scripts/Editor.meta

/ImmersalSDK/Core/Scripts/Editor/*
!/ImmersalSDK/Core/Scripts/Editor/ImmersalSDK.Core.Editor.asmdef
!/ImmersalSDK/Core/Scripts/Editor/ImmersalSDK.Core.Editor.asmdef.meta

!/ImmersalSDK/Core/Scripts/AR
!/ImmersalSDK/Core/Scripts/AR.meta

/ImmersalSDK/Core/Scripts/AR/*
!/ImmersalSDK/Core/Scripts/AR/Editor
!/ImmersalSDK/Core/Scripts/AR/Editor.meta

/ImmersalSDK/Core/Scripts/AR/Editor/*
!/ImmersalSDK/Core/Scripts/AR/Editor/ImmersalSDK.Core.AR.Editor.asmdef
!/ImmersalSDK/Core/Scripts/AR/Editor/ImmersalSDK.Core.AR.Editor.asmdef.meta